body {
    background-color: #272727;
    color: pink;
    margin: 20px;
    font-family: 'Fira code', monospace;
}

nav {
    // margin: 0;
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
    }

    h2{
        font-weight: 500;
        font-size: 18px;
    }

    i{
        margin-right: 20px;
        color: #fff;

        &:hover{
            font-size: large;
        }
    }
}